.resturant{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 50px;
}
.resturant-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.sideber-container{
    background-color: aquamarine;
    padding: 20px;
}